<section class="dashboard row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center" [routerLink]="['/medicos']"><i class="fas fa-user-md"></i>  Médicos</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center" [routerLink]="['/pacientes']"><i class="fas fa-user-injured"></i> Pacientes</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center" [routerLink]="['/consultas']"><i class="fas fa-hospital-user"></i>  Consultas</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center" [routerLink]="['/agenda']"><i class="fas fa-calendar-alt"></i>  Agendas</h5>
        </div>
      </div>
    </div>
    <div style="width: 100%; margin-top: 10rem;">
      <img style="margin: auto; display:flex;" 
      src="https://th.bing.com/th/id/OIP.Idzq8Kv_qgvLTa1MFa_NXgHaDu?w=344&h=176&c=7&o=5&pid=1.7" alt="">
    </div>
</section>
<style>
  .card {
    height: 6rem;
    margin: .5rem;
    cursor: pointer;
    border: --shadow-dark;
  }

  .card:hover {
    background-color: var(--color-primary-light);
  }

  .fas {
    font-size: 4rem;
  }
</style>