<h1>Lista de Consultas</h1>
<div class="btn-group">
  <button [disabled]="itemSelecionado?.qtd > 0" 
class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Novo
</button>
  <button [disabled]="itemSelecionado?.qtd != 1" 
  class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Ação
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal">Editar</a>
    <a class="dropdown-item" href="#" (click)="apagarConsulta()">Excluir</a>
  </div>
</div>
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Data</th>
      <th scope="col">Medico</th>
      <th scope="col">Paciente</th>
    </tr>
  </thead>
  <tbody *ngIf="consultas.length">
    <tr *ngFor="let consulta of consultas; let i= index">
      <th scope="row">
        <input name="checkboxes" type="checkbox" (change)="onChange(consulta, $event.target.checked)" />
      </th>
      <td>{{consulta.data | date:'short'}}</td>
      <td>{{consulta.medico.nome}}</td>
      <td>{{consulta.paciente.nome}}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="!showSpinner && consultas.length==0" class="text-center">
  Nenhum registro encontrado!
</div>
<div *ngIf="showSpinner" class="d-flex justify-content-center">
  <div class="spinner-border text-info" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
    <div class="modal-content" style="width: 40rem;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{consultaDto?.id>0? 'Editar Consulta': 'Nova Consulta'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <span class="btn btn-warning">Todos os dados são obrigatórios!</span>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="row">
            <div class="col">
              <label>{{consultaDto.medico?.nome}}</label>
              <select class="form-control" formControlName="medico" name="medico" [(ngModel)]="consultaDto.medico">
                <option [ngValue]="null" [selected]>Médicos</option>
                <option *ngFor="let medico of medicos" [ngValue]="medico">
                  {{ medico.nome }}
                </option>
              </select>
            </div>
            <div class="col">
              <label>{{consultaDto.paciente?.nome}}</label>
              <select class="form-control" formControlName="paciente" name="paciente" [(ngModel)]="consultaDto.paciente">
                <option [ngValue]="null" [selected]>Pacientes</option>
                <option *ngFor="let paciente of pacientes" [ngValue]="paciente">
                  {{ paciente.nome }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="datetime-local" placeholder="Data hora"
              class="form-control" formControlName="data" name="data" [(ngModel)]="consultaDto.data" />
            </div>
            <div class="col">
              <input type="text" placeholder="Endereço" 
              class="form-control" formControlName="endereco" name="endereco" [(ngModel)]="consultaDto.endereco" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" placeholder="Observação" 
              class="form-control" formControlName="observacao" name="observacao" [(ngModel)]="consultaDto.observacao" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="btn-sair" type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
        <button type="button" class="btn btn-primary" *ngIf="registerForm.valid" (click)="salvarConsulta()">Salvar</button>
      </div>
    </div>
  </div>
</div>