a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

nav {
  background-color: rgb(0, 139, 139) !important;
}

.navbar-brand, .nav-link, .nav-item {
  a {
    color: white;
  }
  
  &:hover {
    color: white;
  }
  a {
    color: white !important;
  }
}

