<h1>Lista de Medicos</h1>
<div class="btn-group">
  <button [disabled]="itemSelecionado?.qtd > 0" 
class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Novo
</button>
  <button [disabled]="itemSelecionado?.qtd != 1" 
  class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Ação
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal">Editar</a>
    <a class="dropdown-item" href="#" (click)="apagarMedico()">Excluir</a>
  </div>
</div>
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Especialidade</th>
      <th scope="col">CRM</th>
    </tr>
  </thead>
  <tbody *ngIf="medicos.length">
    <tr *ngFor="let medico of medicos; let i= index">
      <th scope="row">
        <input name="checkboxes" type="checkbox" (change)="onChange(medico, $event.target.checked)" />
      </th>
      <td>{{medico.nome}}</td>
      <td>{{medico.especialidade}}</td>
      <td>{{medico.crm}}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="!medicos.length" class="d-flex justify-content-center">
  <div class="spinner-border text-info" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{medico.id>0? 'Editar Médico': 'Novo Médico'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <span class="btn btn-warning">Todos os dados são obrigatórios!</span>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Nome" name="nome" [(ngModel)]="medico.nome" formControlName="nome" />
            </div>
            <div class="col">
              <input type="date" class="form-control" placeholder="Data de Nasciemto" name="dataNascimento" [(ngModel)]="medico.dataNascimento" formControlName="dataNascimento" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="CRM" name="crm" [(ngModel)]="medico.crm" formControlName="crm" />
            </div>
            <div class="col">
              <select class="form-control" name="especialidade" [(ngModel)]="medico.especialidade" formControlName="especialidade">
                <option [ngValue]="null" disabled>Especialidades</option>
                <option *ngFor="let especialidade of especialidades" [ngValue]="especialidade.nome">
                  {{ especialidade.nome }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="CPF" name="cpf" [(ngModel)]="medico.cpf"  formControlName="cpf" />
            </div>
            <div class="col">
              <select class="form-control" name="genero" [(ngModel)]="medico.genero" formControlName="genero">
                <option [ngValue]="null" disabled>Genero</option>
                <option *ngFor="let genero of generos" [ngValue]="genero.id">
                  {{ genero.nome }}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="btn-sair" type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
        <button type="button" class="btn btn-primary" (click)="salvarMedico()" *ngIf="registerForm.valid">Salvar</button>
      </div>
    </div>
  </div>
</div>