  <div>
    <h1>Agenda Médica</h1>
    <form>
      <div class="row">
        <div class="col">
          <label>Médico</label>
            <select class="form-control" name="medico" [(ngModel)]="medico">
              <option *ngFor="let medico of medicos" [ngValue]="medico">
                {{ medico.nome }}
              </option>
            </select>
        </div> 
        <div class="col">
          <label>Data</label>
          <input type="date" class="form-control" placeholder="Data" name="data" [(ngModel)]="data">
        </div>
        <div class="col">
          <button class="btn btn-primary" style="margin-top: 2rem;" (click)="filtrar()">Filtrar</button>
        </div>
      </div>
    </form>
    <hr>
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Medico</th>
          <th scope="col">Paciente</th>
        </tr>
      </thead>
      <tbody *ngIf="consultasFiltradas.length">
        <tr *ngFor="let consulta of consultasFiltradas; let i= index">
          <td>{{consulta.data | date:'short'}}</td>
          <td>{{consulta.medico.nome}}</td>
          <td>{{consulta.paciente.nome}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="consultasFiltradas.length==0" class="text-center">
      Nenhum registro encontrado!
    </div>
    <div *ngIf="showSpinner" class="d-flex justify-content-center">
      <div class="spinner-border text-info" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>