<h1>Lista de Pacientes</h1>
<div class="btn-group">
  <button [disabled]="itemSelecionado?.qtd > 0" 
class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Novo
</button>
  <button [disabled]="itemSelecionado?.qtd != 1" 
  class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Ação
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal">Editar</a>
    <a class="dropdown-item" href="#" (click)="apagarPaciente()">Excluir</a>
  </div>
</div>
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">Idade</th>
    </tr>
  </thead>
  <tbody *ngIf="pacientes.length">
    <tr *ngFor="let paciente of pacientes; let i= index">
      <th scope="row">
        <input name="checkboxes" type="checkbox" (change)="onChange(paciente, $event.target.checked)" />
      </th>
      <td>{{paciente.nome}}</td>
      <td>{{paciente.cpf}}</td>
      <td>{{paciente.idade}}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="!pacientes.length" class="d-flex justify-content-center">
  <div class="spinner-border text-info" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{paciente?.id>0? 'Editar Paciente': 'Novo Paciente'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <span class="btn btn-warning">Todos os dados são obrigatórios!</span>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Nome" formControlName="nome" name="nome" [(ngModel)]="paciente.nome" />
            </div>
            <div class="col">
              <input type="date" class="form-control" placeholder="Data de Nasciemto" formControlName="dataNascimento" name="dataNascimento" [(ngModel)]="paciente.dataNascimento">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="CPF" formControlName="cpf" name="cpf" [(ngModel)]="paciente.cpf">
            </div>
            <div class="col">
              <select class="form-control" formControlName="genero" name="genero" [(ngModel)]="paciente.genero">
                <option [ngValue]="null" disabled>Genero</option>
                <option *ngFor="let genero of generos" [ngValue]="genero.id">
                  {{ genero.nome }}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="btn-sair" type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
        <button type="button" class="btn btn-primary" *ngIf="registerForm.valid" (click)="salvarPaciente()">Salvar</button>
      </div>
    </div>
  </div>
</div>