@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../node_modules/ngx-toastr/toastr.css";
 

:root {
  --color-primary: rgba(0, 139, 139, 5);
  --color-primary-light: rgba(0, 139, 139, 0.25);
  --color-primary-dark: rgb(0, 139, 139);

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

  --line: 1px solid var(--color-grey-light-2);
}


body {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-grey-dark-2);
  min-height: 100vh;
}